body {
    /* removes whitespace around edges of webpage */
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
}

.logo,
.signupbox {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.subtext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.blue-container {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
   
    
}

.left {
    display: flex;
    /* sets size of flex box */
    flex-basis: 350px;
    /* to stack div on top of each other */
    flex-direction: column;
    /* provides space between items in flex box */
    justify-content: space-evenly;
}

.right {
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
    /* pushes image underneath header links 1,2,3 */
    padding-right: 90px;
}


.awesome {
    display: flex;
    color: #F9FAF8;
    font-size: 48px;
    padding-top: 80px;
    font-weight: extra-bold;
    justify-content: space-evenly;
}


a {
    /* no line to denote links */
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}


ul {
    /* display flex to bring list onto one line */
    display: flex;
    /* gap between headerlink items */
    gap: 16px;
    /* bring header link items to same line as header logo */
    margin-top: 5px;
    /* remove bullet points  */
    list-style-type: none;
}

button.sign{
    /* align self flex-start prevents button from filling entire flex container */
    align-self: flex-start;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

.white-container-title {
    margin-top: 30px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    margin-bottom: 15px;
    
}

.icon {
    width: 100px;
    height: auto;
}

.container-white {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-bottom: 30px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    /* makes font lighter */
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    padding: 100px 400px;
}

.name {
    font-size: 18px;
    text-align: right;
    font-weight:bold;
    margin-right: 50px;
}

.signupbox {
    display: flex;
    background-color: #3882F6;
    width: 1200px;
    height: 100px;
    margin: 100px 200px;
    /* curved edges of box */
    border-radius: 8px;
    justify-content:space-evenly;
    align-items:center;
    padding: 50px 70px;

}

.signup-cont {
    display: flex;
    justify-content: space-evenly;
}

.signup {
    border-radius: 8px;
    border: 4px solid white;
    background-color: #3882F6;
    width: 200px;
    height: 60px;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}